<header id="page-header">
	<nav id="nav-bar">
		<h1 class="logo">STRVSEARCH</h1>
		<ul class="global-nav">
			<li class="drop-down-menu"><a href="/refresh" class="selection">Refresh</a></li>
		</ul>
		<ul class="user-nav">
			<li class="drop-down-menu"><a href="https://www.strava.com/athletes/<%=athlete.id%>"><%= athlete.firstname %></a></li>
			<li class="drop-down-menu"><a href="/logout">Log Out</a></li>
		</ul>
	</nav>
</header>
